.container{
    position: relative; 
    margin:0px;
    box-sizing: border-box;
}
.col1{
    position:relative;
      
    width:100%;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(139, 11, 11);
}
.side{
    cursor: pointer;
    position: relative;
    width:20%;
    height:100%;
    padding-left: 5%;
    border:none;
    border-left:2px solid white;
    display: flex;
    align-items: center;
}
.side:hover,.side h1:hover{
    background-color: blanchedalmond;
    color:rgb(75, 74, 74);
}
.serve{
    position:relative;
    width: 100%;
    height:77vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  

}
.serve p{
    width: 80%;
}
.h1{
    position:relative; 
    top:50px;
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.serve1{
position:relative;
 top:50px;
width:50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.serve2{
    position:relative;
    width: 100%;
    height:77vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.h12{
    position: inherit;
    width: 50%;
    height: 100%;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.image{
    position: relative;
    top:0px;
    width:50%;
    height: 100%;
    background: url('../images/serve2.jpg');
}
.serve2 p{
    width: 80%;
}
@media(max-width:777px){
    .col1{
        position:relative;
        top:100px;
        width:100%;
        height:400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(139, 11, 11);
    }
    .side{
        position: relative;
        width:100%;
        height:100%;
        padding-left: 5%;
        border:none;
        border-bottom:2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .serve{
        position:relative;
        top:100px;
        width: 100%;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    
    }
    .serve p{
        width: 80%;
    }
    .h1{
        position:relative; 
       
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .serve1{
    position:relative;

     top:50px;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
    .serve2{
        position:relative;
        top:270px;
        width: 100%;
        height:100vh;
        margin-bottom: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .h12{
        position: inherit;
        width: 100%;
        height: 100%;
        bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }
    .image{
        position: relative;
        top:0px;
        width:100%;
        height: 100%;
        background: url('../images/serve2.jpg');
    }
    .serve2 p{
        width: 80%;
    }
}